ul#menu-primary-nav {
	margin: 0 auto;
	width: 80%;
	padding: 0;

	li {
		display: block;
		margin-top: 10px;
		position: relative;
		text-align: center;

		
		a {
			color: #282828;
			padding: 10px;
			text-transform: uppercase;
			font-family: $primaryFont;
			letter-spacing: 1px;
			transition: 0.3s;

			i.fa-angle-down {
			    position: absolute;
			    right: 33px;
			    top: 7px;
			}

			&:after {
				content: "";
				width: 20px;
				height: 1px;
				background: #ccc;
				position: absolute;
				bottom: 0;
				left: calc(50% - 10px);
			}

			&:hover {
				color: #b3885e;
			}
		}
	}
	ul.sub-menu {
		margin: 0;
		padding: 0;
		text-align: center;
		display: none;

		li  a {
			color: lighten($textGrey, 10);

			&:after {
				display: none
			}

			&:hover {
				color: $hoverGold;
			}
		}

	}
}//.primaryNav

ul#menu-social-nav {
	margin: 0 auto;
	padding: 15px 3px;
	text-align: center;
	width: 50%;
	border: 1px solid #ccc;

	li {
		display: inline-block;
		margin: 0;
		
		a {
			background: $darkBlack;
			border-radius: 50%;
			height: 30px;
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.3s;
			position: relative;
			
			i {
				color: #fff;
				transition: 0.3s;
			}

			&:hover {
				background: $hoverGold;
			}
		}
	}

	@include media-query(tablet) {
		width: 60%;
	}

	@include media-query(mobile) {
		width: 60%;
	}
}